@media screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
  .header__text-about {
    font-size: 20px;
  }
  .header__nav {
    justify-content: flex-end;
  }
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    justify-content: center;
  }
  .header__burger {
    display: none;
  }
  .img {
    max-width: 100%;
    width: 400px;
    height: 550px;
    object-fit: cover;
    object-position: 60% 50%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio-section__text {
    padding-bottom: 10px;
  }
}
